

header {
    height: 10vh;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 4%;
}

a {
    color: #ed4d08;
    text-decoration: none;
}

h3 {
    font-weight: 400;
    font-size: 28px;
    transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -moz-transition:all .5s ease-in-out; 
    -webkit-transition:all .5s ease-in-out;
}

/*###### RESPONSIVE DESIGN ######*/
@media (max-width: 450px) {
    h3 {
        font-size: 24px;
    }

    nav {
        padding-right: 5%;
    }
}

@media (max-height: 575px) {
    h3 {
        font-size: 18px;
    }
}
