* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 80vh 10vh;
  font-family: 'Raleway', sans-serif;
  background: rgb(237,77,8);
  background: linear-gradient(0deg, rgba(237,77,8,1) 16%, rgba(250,216,176,1) 90%);
  height: 100vh;
}

